@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
  }
body{
    background-image: url(../img/backhome.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000164;
    width: 100%;
    height: 100%;
}
#abc{
    width:100%;
    height:100vh;
    background-image: url(img2.jpg);
    background-size: cover;
    font-size: 20px;
}
nav{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    transition: 0.7s all;
    border-radius: 25px;
}
nav ul li:hover{
    background-color:rgba(255, 255, 255, 0.473);
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
  }

.textos{
    font-size: 23px;
    color: #fff;
    position: absolute;
    left: 8em;
    top: 12em;
    max-width: 22.5em;
    text-align: justify;
    display: block;
    margin-right: 7em;
    padding: 1em;
    background-color: #000164;
    border-radius: 10px;
}

.texto{
    text-indent: 1em;
}

@media (max-width: 678px)
{
  .textos
   {
    position: absolute;
    position: center;
    right: 2em;
    left: 2em;
    top: 12em;
    width: 12em;
    padding: 1em;
    margin: auto;
}
}

@media (max-width: 425px)
{

  .textos
   {
    position: absolute;
    position: center;
    right: 2em;
    left: 2em;
    top: 12em;
    width: 8em;
    padding: 1em;
    margin: auto;
}
}

@media (max-width: 437px)
{

  .textos
   {
    position: absolute;
    position: center;
    right: 2em;
    left: 2em;
    top: 12em;
    width: 9.8em;
    padding: 1em;
    margin: auto;
}
}

