@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#body{
    font-family: 'Poppins';
    margin: 0;
    background-color: rgb(44, 44, 44);
}

.logo{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.logo1{
    width: 13em;
    position: absolute;
    top: -57%;
    right: 0;
    bottom: 0;
    left: 65%;
    margin: auto;
}

#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 55%);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: rgb(255, 42, 131);
}

.title{
    font-size: 1.8em;
    margin-bottom: 10%;
}
.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px #6f7e8a solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}
.input i{
    font-size: 1.2em;
    padding: 5px;
}
.input input{
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Poppins';
    transform: translateY(-10%);
    color: rgb(255, 42, 131);
    font-size: 11pt;
}
#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
#btn button{
    font-family: 'Poppins';
    background-color: rgb(255, 42, 131);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#btn button:hover{
    background: rgb(255, 42, 131);
}

.voltar{
    position: relative;
    top: 1em;
    text-align: center;
}

#bodylogin{
    font-family: 'Poppins';
    margin: 0;
    background-image: url(../img/backzin.jpg);
    background-size: cover;
    background-position: relative;
}

#form1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: rgb(255, 42, 131);
}

.logo2{
    width: 15em;
    position: absolute;
    top: -44em;
    right: 0;
    bottom: 0;
    left: 0%;
    margin: auto;
}

.esqueceusenha{
    position: relative;
    text-align: left;
}

#form2{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 72.9%);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: rgb(255, 42, 131);
}

#logincad{
    position: relative;
    text-align: right;
}

.link{
    text-decoration: none;
    color: rgb(255, 42, 131);
}

.link:hover{
    color:rgb(255, 42, 131);
}